:root {
    --font-family-main: "Open Sans", arial, sans-serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --bg-color: #0e0e75;
    --inverted-bg-color: #d9d9d9;
    --primary-color: #049604;
    --secondaty-color: #04ff04;
    --inverted-primary-color: #1f53de;
    --inverted-secondaty-color: #4dc9f6;
}
