.Button {

}

.clear {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.outline {
    padding: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
